// Define variables for your color scheme

// For example:
$red: #044223;
$blue: #044223;
$yellow: #044223;
$orange: #044223;
$green: #044223;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Colors
$green: #044223;
$dark-green: #032B17;

$light-cream: #FFFBF5;
$cream: #FFF0D5;
$dark-cream: #A49273;
