<div class="container carousel mt-5 mb-5 pb-5"
  data-flickity='{ "wrapAround": true }'>
  <div class="carousel-cell cell-00"></div>
  <div class="carousel-cell cell-01"></div>
  <div class="carousel-cell cell-02"></div>
  <div class="carousel-cell cell-03"></div>
  <div class="carousel-cell cell-04"></div>
  <div class="carousel-cell cell-05"></div>
</div>
