<div class="footer">
  <div class="footer-content container d-flex justify-content-between">
    <%= image_tag "logo-footer.png" %>
    <div>
      <h3>Queremos te conhecer!</h3>
      <br>
      <p>
        +55 (31) 99774-0468 <br>
        comercial@galeriadomercado.com.br <br>
        @galeriadomercado <br> <br>
        Rua dos Goitacazes 490, <br>
        Centro - Belo Horizonte
      </p>
    </div>

  </div>
</div>
