<div class="nav" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="hide-element" data-controller="navbar" data-action="scroll@window->navbar#updateLogo" style="margin-left:-10px;">
      <%= image_tag "logo_galeriadomercado.png" %>
    </div>
    <div class="d-none d-sm-block">
      <ul>
        <li> <a href="#como-funciona">COMO FUNCIONA</a></li>
        <li> <a href="#estrutura">ESTRUTURA</a></li>
        <li> <a href="#faq">FAQ</a></li>
        <li data-controller="contactform" data-action="click->contactform#openForm" style="cursor:pointer;"> ALUGAR BOX</li>
      </ul>
    </div>

    <div class="d-block d-sm-none dropstart">
      <div data-bs-toggle="dropdown" aria-expanded="false">
        <%= image_tag "burger.svg", class:"burger" %>
      </div>
      <ul class="container dropdown-menu">
        <li><a class="dropdown-item" href="#como-funciona" style="margin-top: 32px;">COMO FUNCIONA</a></li>
        <li><a class="dropdown-item" href="#estrutura">ESTRUTURA</a></li>
        <li><a class="dropdown-item" href="#faq">FAQ</a></li>
        <li><a class="dropdown-item" data-controller="contactform" data-action="click->contactform#openForm"> ALUGAR BOX</a></li>
      </ul>
    </div>


  </div>
</div>
