// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



// Container

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 32px;
  padding-right: 32px;
}

// Text
body {
  font-family: 'Archia-Regular';
  animation: fadeInAnimation ease 0.8s;
}

@keyframes fadeInAnimation {
  from {
      opacity: 0;
      transform: translateY(16px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

h1 {
  font-size: 80px;
  font-family: 'Archia-Bold';
  line-height: 1.1;
  letter-spacing: -1px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Archia-Medium';
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Archia-Light';
  font-size: 26px;
  font-weight: 200;
  line-height: 1.1;
  //letter-spacing: -1px;
}

h4 {
  font-family: 'Archia-Bold';
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -1px;
}

h5 {
  font-family: 'Archia-Medium';
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.1;
}

h6 {
  font-family: 'Archia-Medium';
  font-size: 18px;
  line-height: 1.1;

}

p {
  font-family: 'Archia-Regular';
  font-size: 16px;
}

small {
  font-family: 'Archia-Regular';
  font-size: 14px;
}


@media (max-width: 1024px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 30px;
  }

  p {
    font-size: 12px;
  }

  h5 {
    font-size: 14px;
  }
}

@media (max-width:992px) {
  h4 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }
}


@media (max-width: 768px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 13px;
  }

  p {
    font-size: 12px;
  }

  small {
    font-family: 'Archia-Regular';
    font-size: 12px;
  }
}



@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 20px;
  }
}
